<div class="gameBox">
    <h1>Who-knows</h1>
    <table *ngIf="this.questions[this.currentQuestion] != undefined; else gameOver">
        <tr>
            <td colspan="2">Question: {{ this.questions[this.currentQuestion].question }}</td>
        </tr>
        <tr>
            <td (click)="checkAnswer($event)">{{this.questions[this.currentQuestion].answers[0]}}</td>
            <td (click)="checkAnswer($event)">{{this.questions[this.currentQuestion].answers[1]}}</td>
        </tr>
        <tr>
            <td (click)="checkAnswer($event)">{{this.questions[this.currentQuestion].answers[2]}}</td>
            <td (click)="checkAnswer($event)">{{this.questions[this.currentQuestion].answers[3]}}</td>
        </tr> 
        <tr>
            <td colspan="2" [style]="this.show" (click) = 'setNextQuestion()'> {{ response }} </td>
        </tr>
    </table>

    <ng-template #gameOver>
        <h1>{{ response }}</h1>
        <img src="assets/loading.gif" alt="loading" style="width: 50%; height: 50%; display: block; margin: auto;">
    </ng-template>
</div>